

.complete_order{
    text-align: center;
    padding: 50px 0px;
}

.complete_order>p{
    line-height: 35px;
}

.complete_order>p>a{
    font-family: Helvetica, Arial, sans-serif;
    background-color: #1877F2;
    color: #FFFFFF;
    text-align: center;
    padding: 8px 20px;
    border: none;
    border-radius: .3em;
    font-weight: 600;
    text-decoration: none;
}