

.Messeage{

}

.alert p{
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 30px;

}


.messeage-btn{
    font-family: Helvetica, Arial, sans-serif;
    background-color: #1877F2;
    color: #FFFFFF;
    text-align: center;
    padding: 8px 20px;
    border: none;
    border-radius: .3em;
    font-weight: 600;
    text-decoration: none;

    @media(max-width:768px){
        padding: 5px 20px;
    }
}